<!DOCTYPE html>
<html>
<head>
  <title>TicTacWoe</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.8/pusher.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="content">
	<%
	  message = nil if local_assigns[:message].nil? 
	%>
<%= yield %>
  </div>
</body>
</html>
